html, body {
  background-color : black;
}

.prompter {
  color: white;
  font-size: 80px;
  font-family: Helvetica;
  margin-top: -.25em;
  padding: 2.25em 50px 0 110px;
}

.prompter.mirror {
  padding-left: 110px;
  padding-right: 50px;
}

.mirror {
  display :block;
  -moz-transform: scale(-1, 1) translateZ(0);
  -webkit-transform: scale(-1, 1) translateZ(0);
  -o-transform: scale(-1, 1) translateZ(0);
  -ms-transform: scale(-1, 1) translateZ(0);
  transform: scale(-1, 1) translateZ(0); 
}

.editable {
  font-size: 50px;
}

.arrow {
  color: white;
  font-size: 100px;
  position: fixed;
  top: 2.4em;
}



.speed, .flip {
  box-sizing: border-box;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  position: fixed;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: Helvetica;
  font-weight: bold;
  opacity: .5;
}

.flip {
  top: 0;
  left: 0;
  background-color: #333333;
  cursor: pointer;
}

.flip:hover {
  opacity: 1;
}

.speed {
  bottom: 0;
  left: 0;
  background-color: red;
}

.arrow.mirror, .speed.mirror, .flip.mirror {
  right: 0;
  left: inherit;
}

.running {
  background-color: green;
}